{% extends 'base.html' %}
{% load static %}
{% block css_styles %} 
    <link rel="stylesheet" href="{% static "main_page/form.css" %}">
{% endblock css_styles %}


{% block content %}
    <div class = "login_container">
        <h1> Registration </h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-control {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class = "btn btn-light btn-lg text-center" type="submit">Submit</button>
    </form>
    <div class = "button_container" >
        <a class = "btn btn-dark btn-lg text-center" href =  {% url 'login_url' %} >login</a>
    </div>
{% endblock content %}