body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #F8F2ED !important;
}

.row{
    margin: 10px auto;
}
.card{
    margin: 10px auto;
    padding: 10px 15px;
    background-color: #F8F2ED !important;
}
img{
    height: 300px;
    box-shadow: 1px 1px 10px black;
}
.navbar-item{
    display: flex;
    justify-content: space-between;
}
.btn{
    border: 1px solid  white;
    color:white;
}
.btn:hover{
    color: white !important;
}
.card-title{
    margin-bottom: 20px;
}