body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: #F8F2ED!important;
    margin: 0px;
    padding: 0px;
}
img{
    height: 500px;
    width: 600px;
    box-shadow: 1px 1px 10px black;
}

@media (min-width: 730px) and (max-width: 1200px){
    img{
        width: 700px;
        box-shadow: 1px 1px 10px black;
    }


}

@media (max-width: 730px){
    img{
        width: 450px;
        box-shadow: 1px 1px 10px black;
    }
}
.columna1, .columna2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 20px 0px 30px 0px;
  border: 1px solid black;
  
}
.columna2{
    margin: 20px 30px 30px 30px;
}
h1{
    font-size: 52px;
    letter-spacing: 2px;
}
h3{
    font-size: 16px;
}
.columna1{
    border: none;
}

